<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container my-5">


        <div class="col-md-10">
            <h2>Formulario de Registro</h2>

            <form action="/user/register" method="POST" enctype="multipart/form-data">
            
                <div class="row">
                    <div class="col-md-6 my-1">
                        <div class="form-group">
                            <label><b>Nombre Completo:</b></label>
                            <input 
                            type="text"
                            name="full_name"
                            class="form-control <%= locals.errors && errors.full_name? 'is-invalid' : null %>"
                            value="<%= locals.oldData? oldData.full_name : null %>"
                            >
                            
                            <% if (locals.errors && errors.full_name) { %>
                                <div class="text-danger">
                                    <%= errors.full_name.msg %>
                                </div>
                            <% } %>
                            
                        </div>
                    </div>
                    <div class="col-md-6 my-1">
                        <div class="form-group">
                            <label><b>Correo Electrónico:</b></label>
                            <input type="text" name="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData? oldData.email : null %>">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-6 my-1">
                        <div class="form-group">
                            <label><b>Password:</b></label>
                            <input type="password" name="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" value="<%= locals.oldData? oldData.password : null %>">
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-6 my-1">
                        <div class="form-group">
                            <label><b>País de nacimiento:</b></label>
                            <select name="country" class="form-control <%= locals.errors && errors.country ? 'is-invalid' : null %>" >
                                <option value="">Elegí un país</option>
                                <%
                                let countries = ['Argentina','Bolivia', 'Brasil', 'El Salvador', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Peru', 'Uruguay'];
                                %>
                                <% for( const oneCountry of countries) { %>
                                    <option
                                    value="<%= oneCountry %>"
                                    <%= locals.oldData && (oneCountry === oldData.country) ?  'selected' : null %>
                                    > <%= oneCountry %> </option>
                                <% } %>
                            </select>
                            <% if (locals.errors && errors.country) { %>
                                <div class="text-danger">
                                    <%= errors.country.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-6 my-1">
                        <div class="form-group">
                            <label><b>Imagen de perfil:</b></label>
                            <input type="file" name="avatar" class="form-control">
                            <% if (locals.errors && errors.avatar) { %>
                                <div class="text-danger">
                                    <%= errors.avatar.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-12 my-3">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
</html>